<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tambah Penyewa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <strong>MOTO RENTAL</strong>
    <div>
        <a href="/">Home</a>
        <a href="/motor">Kelola Motor</a>
        <a href="/penyewa">Kelola Penyewa</a>
    </div>
</div>


<div class="form-container"></div>
<h2>Tambah Penyewa</h2>
<form method="POST">
    Nama:<br>
    <input type="text" name="nama"><br>
    NIK:<br>
    <input type="text" name="nik"><br>
    Alamat:<br>
    <textarea name="alamat"></textarea><br><br>
    <button type="submit">Simpan</button>
</form>

<a href="/penyewa">Kembali</a>

</body>
</html>
