<!DOCTYPE html>
<html>
<head>
    <title>Data Penyewa</title>
</head>
<body>

<h2>Data Penyewa</h2>
<a href="/penyewa/add">Tambah Penyewa</a> |
<a href="/">Kembali</a>

<table border="1">
<tr>
    <th>Nama</th>
    <th>NIK</th>
    <th>Alamat</th>
    <th>Aksi</th>
</tr>

{% for p in data %}
<tr>
    <td>{{ p[1] }}</td>
    <td>{{ p[2] }}</td>
    <td>{{ p[3] }}</td>
    <td>
        <a href="/penyewa/edit/{{ p[0] }}">Edit</a> |
        <a href="/penyewa/delete/{{ p[0] }}">Hapus</a>
    </td>
</tr>
{% endfor %}
</table>

</body>
</html>
